.alt-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $green-color;
  border: 1px solid #6CA499;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  padding: 12px 0;
  text-decoration: none;

  &--rounded {
    border-radius: 52px;
  }

  &--circle {
    border-radius: 50%;
    width: 40px;
    height: 40px
  }
}