@media screen and (max-width: 1200px) {
  .alt-mobile {
    overflow-x: hidden;

    &-sidenav {
      position: fixed;
      top: 0;
      left: 0;
      background: $darken-blue-color;
      box-shadow: -5px 0px 18px rgba(162, 162, 162, 0.5);
      padding-bottom: 20px;
      max-width: 230px;
      width: 100%;
      height: 100vh;
      transform: translateX(-100%);
      transition: transform .4s ease-in;
      overflow-y: auto;
      z-index: 30;
    }

    &.alt-show &-sidenav {
      transform: translateX(0);
      transition: transform .4s ease-in;
    }


    &-user-info {
      display: flex;
      column-gap: 20px;
      align-items: center;
      color: $lighten-grey-color;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      padding: 16px 12px;
      text-transform: capitalize;
    }

    &-dropdown {
      width: 100%;
      height: 52px;
      transition: height .3s ease-in-out;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

      &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #3D3D40;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        padding: 15px 20px;
        text-transform: capitalize;
      }

      &-arrow {
        display: inline-block;
        border-top: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #fff;
        width: 0;
        height: 0;
        transition: transform .3s ease;
      }

      &-links {
        // padding: 30px 23px;

        ul {
          display: flex;
          flex-direction: column;
          row-gap: 25px;
          padding: 27px 0;
        }

        li {
          padding: 0 20px;
        }

        li.alt-active {
          border-left: 9px solid $green-color;
          padding-left: 11px;

          a {
            color: #fff;
            font-weight: bold;
          }
        }
      }

      &-link {
        display: flex;
        align-items: center;
        column-gap: 15px;
        color: #CFDADF;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
        text-transform: capitalize;
      }
    }

    &-logout {
      border-top: 1px solid $border-color;
      padding: 15px 20px;
      width: 100%;
    }

    &-main {
      background: #fff;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 30px;

      h1 {
        color: $darken-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
      }
    }

    &-brand {
      width: 32px;
      height: 45px;
    }

    &-hamburger {
      position: relative;
      display: inline-block;
      margin-right: 30px;
      z-index: 30;

      &::before,
      &::after {
        position: absolute;
        content: '';
        background: #262626;
        width: 26px;
        height: 2px;
      }

      &::before {
        bottom: 6px;
        transition: bottom .3s .3s ease, transform .3s ease;
      }

      &::after {
        top: 6px;
        transition: top .3s .3s ease, transform .3s ease;
      }
    }

    &-hamburger.alt-active {

      &::before {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom .3s ease, transform .3s .3s ease;
      }

      &::after {
        top: 0;
        transform: rotate(-45deg) translate(1px, -1px);
        transition: top .3s ease, transform .3s .3s ease;
      }
    }


    &-ctas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $grey-color;
      padding: 16px 26px;

      h2 {
        color: $darken-color;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
      }
    }

    &-filters {
      margin: 18px 20px; 

      &-toggle {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $grey-color;
        border-radius: 57px;
        color: $darken-color;
        font-weight: 600;
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 18px;
        padding: 14px 24px;
      }

      &-arrow {
        position: absolute;
        top: 50%;
        right: 19px;
        display: inline-block;
        border-top: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #393C40;
        width: 0;
        height: 0;
        transform: translateY(-50%);
      }
    }

    &-filters-fields {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: $grey-color;
      border-radius: 15px;
      padding: 25px 10px;
    }

    &-table {
      margin: 0 10px 200px;
    }

    &-employee-list {
      color: $text-color;
      font-weight: 500;
      font-size: 11px;
      line-height: 16px;
      width: 100%;
      text-transform: capitalize;
      table-layout: auto;

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        background: $lighten-grey-color;
        border-radius: 10px;
        margin-bottom: 5px;
        padding: 8px 7px 8px 18px;
        width: 100%;
      }

      &-image {
        position: relative;
        flex-shrink: 0;
        width: 33px;
        height: 33px;

        &-status {
          position: absolute;
          bottom: 2px;
          right: 0;
        }

      }

      &-name {
        flex-grow: 1;
        text-align: left;
      }
    }

    &-float-button-container {
      position: fixed;
      bottom: 30px;
      right: 16px;
      z-index: 30;
    }

    &-float-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $darken-blue-color;
      border-radius: 50%;
      box-shadow: 0px 3px 4px rgba(176, 182, 184, 0.41);
      width: 53px;
      height: 53px;
    }
  }

  .alt-desktop {
    display: none;
  }
}

