$text-color: #5A5A5A;
$darken-color: #292929;
$green-color: #73C7B7;
$border-color: #57585A;

/* Background-color */
$grey-color: #F9FAFC;
$lighten-grey-color: #FCFCFC;
$darken-blue-color: #2C2C31;

/* Desktop color */
$dark-soft-color: #3B4D56;
$light-grey-color: #9FA6AA;
$orange-color: #E94916;
$light-color: #97A3A9;

